a{
    text-decoration: none;
    color: rgb(202, 0, 0);
}
a:link{
    color: green;
}
a:visited{
    color: blue;
}
a:hover{
    background-color: yellow;
    color: red;
}
a:active{
    background-color: purple;
    color: aqua;
}