.hm{
    margin-top: 150px;
    font-size: 150px;
    display: inline-block;
    padding-bottom: 150px;
}

.facebook{
    text-decoration: none;
}

a.facebook i{
    margin-left: 100px;
    font-size: 87px;
}

a.facebook:hover{
    color: rgb(92, 170, 13);
}
.buttons li a{
    text-decoration: none;
    margin: 20px;
}
.buttons{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 30px;
    background-color: bisque;
    margin: 10px;
}

.buttons li a:hover{
    color: rgb(240, 0, 0);
}