body{
    background-image: url(../image/Space-Background-Images.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    

}
.banner1{
    
    background-image: url(../image/glitter-golden-bokeh-lights-scaled.jpeg);
    height: 40vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.banner2{
    
    background-image: url(../image/glitter-golden-bokeh-lights-scaled.jpeg);
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.banner3{
    background-image: url(../image/pexels-photo-255379.jpeg);
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
}