.bg{
    padding: 50px;
}
.bg1{
    background-image: linear-gradient(green, yellow,red,blue);
}

.bg2{
    background-image: linear-gradient( to left,yellow,purple 20%);
}

.bg3{
    background-image: radial-gradient(circle,red,yellow);
}