.title{
    color: red;
}
.btn1{
    color: var(--colour1);
    background-color: var(--backgroundclr);
    margin: var(--distance);
    border-radius: var(--radius);
    
}
:root{
    --colour1: red;
    --backgroundclr: blue;
    --distance: 20px
}
:root{
    --radius:20px
}