body{
    background-image: url(../image/Space-Background-Images.jpg);
    background-repeat: no-repeat;
    background-size: 1500px;
}

.square{
    height: 300px;
    width: 300px;
    background-color: rgb(255, 45, 45);
    display: flex;
    border-radius: 5px;
    color: yellow;
    text-align: center;
    background-image:linear-gradient(rgb(55, 0, 255),rgb(255, 167, 14) ) ;
    
}
.profile{
    background-image: url(../image/pexels-photo-255379.jpeg);
    width: 100px;
    height: 100px;
    border-radius: 200px;
    background-color: 10px 10px 10px 10px blue;
}