body{
    background-image: url(../image/Space-Background-Images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.square{
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: rgb(255, 45, 45);
    border-radius: 5px;
    color: yellow;
    text-align: center;
    background-image:linear-gradient(rgb(55, 0, 255),rgb(255, 167, 14) ) ;
    
}
:root{
    --primary-color:blue
   
}
.profile{
    width: 20px;
    border-radius: 100px;
}