.menu{
    height: 25px;
    background-color: rgb(181, 170, 155);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

.megaHead{
    background-color: cadetblue;
    position: sticky;
    top: 25px;
}