.input-group input{
    background: none;
    color: white;
    border: none;
}
.input-group{
    background-color: coral;
    border-radius: 50px;
    display: inline-block;
    padding: 5px;
}

 button{
    border-radius: 50px;
    position: absolute;
    left: 125px;
    background-color: bisque;
    border: none;
    top: 9px;
    font-size: 21px;
    background-image: linear-gradient(50deg, rgb(238, 148, 115), red);

 }
 button:hover{
    background-color: rgb(0, 0, 0);
 }